<h1><%= t(".title") %></h1>

<% if user_signed_in? %>
  <h2><%= current_user.name %></h2>

  <%= link_to t(".edit_user"), edit_user_registration_path, class: "btn btn-primary" %>
  <%= link_to t(".log_out"), destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
<% else %>
  <%= link_to t(".log_in"),  new_user_session_path, class: "btn btn-primary" %>
  <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary" %>
<% end %>